html {
  --blue-900: #150DFB;

  --dark-blue-900: #0C0A1F;

  --gray-50: #EFF0FC;
  --gray-100: #A3A8BF;
}

* {
  outline: none !important;
  color: var(--dark-blue-900);
}

.fit-content {
  width: fit-content;
}