html {
  --blue-900: #150DFB;

  --dark-blue-900: #0C0A1F;

  --gray-50: #EFF0FC;
  --gray-100: #A3A8BF;
}

* {
  outline: none !important;
  color: var(--dark-blue-900);
}

.fit-content {
  width: fit-content;
}

.bg-blue-900 {
  background-color: var(--blue-900) !important;
}

.bg-dark-blue-900 {
  background-color: var(--dark-blue-900);
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-blue-900 {
  color: var(--blue-900) !important;
}
